<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="header">
    <h1 class="frontpage">
        FANS CHOICE
    </h1>
    <br />

    <!-- 
Buttons for all different pages of our application, all have a app.post/app,get function for each 
    -->

    <form method="post">
        <button formaction="/logout" class="pure-button button-small">logout</button>
        <button formaction="/stream" class="pure-button button-small">HOME</button>
        <button formaction="/albums" class="pure-button button-small">TOP ALBUMS</button>
        <button formaction="/songs" class="pure-button button-small">TOP SONGS</button>
        <button formaction="/search" class="pure-button button-small">Search</button>
    </form>
    
</div>
<br/><br/><br/>
<div>
    <center>

<!-- 

Albums is pagged as our most liked/highest rated albums listing from top to bottom

#each = for each 
/each = end of loop

albumnames is the passed list variable containing all album names in descending order from top ranked

name is the query attribute that we want to show (which is the album name)
-->
    <h1>Album Rankings (Top few)</h1> 
    {{#each albumnames}}
        <br/>
         <h3 style='font-style: italic; text-decoration: underline;'><strong>{{name}}</strong></h3>
         <br/>
     {{/each}}
    </center>
</div>
</div>>
<script>
    $("span.when").each((_, e) => e.innerHTML = moment(e.innerHTML).fromNow());
}
</script>