<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="header">
    <h1 class="frontpage">
        FANS CHOICE
    </h1>
    <br />

   <!-- 
Buttons for all different pages of our application, all have a app.post/app,get function for each 
    -->

    <form method="post">
        <button formaction="/logout" class="pure-button button-small">logout</button>
        <button formaction="/profile" class="pure-button button-small">PROFILE</button>
        <button formaction="/stream" class="pure-button button-small">TOP ALBUMS</button>
        <button formaction="/songs" class="pure-button button-small">TOP SONGS</button>
        <button formaction="/search" class="pure-button button-small">Search</button>
    </form>
</div>

<section class="portfolio-block photography">
    <div class="container">
        <div style="margin: 10vh" class="rowH">

        </div>
    </div>
    <br /><br />
</section>

   <!-- 
Form to submit whether or not you like the album or not, if you didn't, don't press the like button
    -->
<form method="post">
    <select style='color:black; display:none;' name='RAID'>
        {{#each AlbumRevID}}
        <option value={{RA_ID}} selected>{{RA_ID}}</option>
        {{/each}}
    </select>
    <center>
    <h2>Did you like the album?</h2>
    <input formaction="/likedAlbum" style="background-color: green;" value='Like' type="submit" data-index="1" data-inc="1" class="pure-button button-style2" ></input>
    <input formaction="/dislikedAlbum" value='dislike' type="submit" data-index="1" data-inc="1" class="pure-button button-style3" style="background-color: red;"></input>
</center>
</form>

</div>
</section>


</div>


<script>
    $("span.when").each((_, e) => e.innerHTML = moment(e.innerHTML).fromNow());

    $('.counter-btn').click(function (e) {
        e.preventDefault();
        var $btn = $(this);
        $('#output-' + $btn.data('index')).html(function (i, val) {
            val = val * 1 + $btn.data('inc');
            return (val <= 0 ? '' : '+') + val;
        });
    });


</script>