<div>
    <h1 class="frontpage">FAN'S CHOICE</h1>
    <br /><br /><br />
    <h2 class="subtitle">THE FANS ARE ALWAYS RIGHT</h2>
    <br /><br /><br />
</div>

<!-- 
    Login page

    results is holding the values of the query which calls on the usernames for registered users

    userName is the attribute that we want to display

    All this is encased in a form, because you're submitting login information to sign into a user

-->

<div style="display:inline-flex">
    <div class="content">
        <form class="" method="post">
            <fieldset>
                <legend>
                    Login
                </legend>
                <label for="user">User Name</label>
                <select name="user" class="main-text">
                    {{#each results}}
                    <option value="{{ userName }}">{{ userName }}</option>
                    {{/each}}
                </select>
                <button type="submit" class="pure-button pure-button-primary button-style2">
                    Sign in
                </button>
            </fieldset>
        </form>

<!-- 
    Form to create user if you didn't want to login as an existing one

    with error handling if the user with the exact same name is being made
-->
        <form id="create-user" class="pure-form-stacked" style="padding-top: 23px;" action="/api/user" method="post">
            <fieldset>
                <legend>
                    Sign Up
                </legend>
                <label for="name">User Name</label>
                <input id="name" class="main-text" type="text" name="user_name" placeholder="Enter Username" required>
                <label for="name">Email</label>
                <input id="name" class="main-text" type="text" name="display_name" placeholder="Enter Email"
                    required>
                <span class="pure-form-message warn warn-unknown">
                    An error occurred.
                </span>
                <span class="pure-form-message warn warn-exists">
                    A user with that name already exists.
                </span>
                <button type="submit" class="pure-button pure-button-primary button-style">
                    Create User
                </button>
            </fieldset>
        </form>
    </div>

<!-- Breif summary of what we are and why this website is a thing. -->
    <div>
        <h3 class="content">Fan's Choice is here to give the fans their voice. The only reviews that matter here are the
            reviews from fans of the music themselves. Sign up, comment, and review on Fan's Choice, the premiere web
            app for up to date music ratings and reviews. </h3>
    </div>
</div>

<script>
    var params = new URLSearchParams(window.location.search);
    if (params.has('error')) {
        if (params.get('error') === 'user_exists') {
            $("#create-user").addClass('error-user-exists');
        } else {
            $("#create-user").addClass('error-unknown');
        }
    }
</script>