<div>
    <h1 class="frontpage">FAN'S CHOICE</h1>
    <br /><br /><br />
    <h2 class="subtitle">THE FANS ARE ALWAYS RIGHT</h2>
    <br /><br /><br />


</div>
<div style="display:inline-flex">
    <div class="content">
        <form class="" method="post">
            <fieldset>
                <legend>
                    Login
                </legend>
                <label for="user">User Name</label>
                <select name="user" class="main-text">
                    {{#each results}}
                    <option value="{{ userName }}">{{ userName }}</option>
                    {{/each}}
                </select>
                <button type="submit" class="pure-button pure-button-primary button-style2">
                    Sign in
                </button>
            </fieldset>
        </form>

        <form id="create-user" class="pure-form-stacked" style="padding-top: 23px;" action="/api/user" method="post">
            <fieldset>
                <legend>
                    Sign Up
                </legend>
                <label for="name">User Name</label>
                <input id="name" class="main-text" type="text" name="user_name" placeholder="New User Name" required>
                <label for="name">Display Name</label>
                <input id="name" class="main-text" type="text" name="display_name" placeholder="New Display Name"
                    required>
                <span class="pure-form-message warn warn-unknown">
                    An error occurred.
                </span>
                <span class="pure-form-message warn warn-exists">
                    A user with that name already exists.
                </span>
                <button type="submit" class="pure-button pure-button-primary button-style">
                    Create User
                </button>
            </fieldset>
        </form>
    </div>

    <div>
        <h3 class="content">Fan's Choice is here to give the fans their voice. The only reviews that matter here are the
            reviews from fans of the music themselves .Sign up, comment, and review on Fan's Choice, the premiere web
            app for up to date music news. </h3>
    </div>
</div>

<script>
    var params = new URLSearchParams(window.location.search);
    if (params.has('error')) {
        if (params.get('error') === 'user_exists') {
            $("#create-user").addClass('error-user-exists');
        } else {
            $("#create-user").addClass('error-unknown');
        }
    }
</script>