<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="header">
    <h1 class="frontpage">
        FANS CHOICE
    </h1>
    <br />
    <form method="post">
        <button formaction="/logout" class="pure-button button-small">logout</button>
        <button formaction="/profile" class="pure-button button-small">PROFILE</button>
        <button formaction="/stream" class="pure-button button-small">TOP ALBUMS</button>
        <button formaction="/songs" class="pure-button button-small">TOP SONGS</button>
        <button formaction="/search" class="pure-button button-small">Search</button>
    </form>
</div>

<section class="portfolio-block photography">
    <div class="container">
        <div style="margin: 10vh" class="rowH">

        </div>
    </div>
    <br /><br />
</section>

<h2 id="display"></h2>

<section class="portfolio-block photography">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image"
                        src="https://akaitodirection.com/wp-content/uploads/2020/03/3163fad2484ccc6d6a8309bb6f5cb025.1000x1000x1.jpg" /></a>
                <h2>Song Name <br /> - Made by Artist</h2>

                <button class="fa fa-thumbs-up green_button counter-btn" id="increase1" type="button" data-index="1"
                    data-inc="1" style="font-size:48px">
                </button>

                <button class="fa fa-thumbs-down red_button counter-btn" id="decrease1" type="button" data-index="1"
                    data-inc="-1" style="font-size:48px">
                </button>

                <div class="output" id="output-1">10</div>
            </div>

        </div>
        <br /><br />
</section>


<div style="border-bottom: 1px solid grey; padding-left:5%">
    <h4>River in me &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <span style="font-size: 15px; color:gray">48:54</span>
        </h1>
        <p>Song Artist &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <button class="fa fa-thumbs-up green_button counter-btn" id="increase7" type="button" data-index="7"
                data-inc="1" style="font-size:48px">
            </button>

            <button class="fa fa-thumbs-down red_button counter-btn" id="decrease7" type="button" data-index="7"
                data-inc="-1" style="font-size:48px">
            </button>
            <div class="output" id="output-7" style="text-align:end">100</div>
        </p>
</div>
</div>
</section>


</div>


<script>
    $("span.when").each((_, e) => e.innerHTML = moment(e.innerHTML).fromNow());

    $('.counter-btn').click(function (e) {
        e.preventDefault();
        var $btn = $(this);
        $('#output-' + $btn.data('index')).html(function (i, val) {
            val = val * 1 + $btn.data('inc');
            return (val <= 0 ? '' : '+') + val;
        });
    });


</script>