<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="header">
    <h1 class="frontpage">
        FANS CHOICE
    </h1>
    <br />
    <form method="post">
        <button formaction="/logout" class="pure-button button-small">logout</button>
        <button formaction="/profile" class="pure-button button-small">PROFILE</button>
        <button formaction="/stream" class="pure-button button-small">TOP ALBUMS</button>
        <button formaction="/songs" class="pure-button button-small">TOP SONGS</button>
        <button formaction="/search" class="pure-button button-small">Search</button>

    </form>
    

</div>
<br/><br/><br/>
<div style="text-align: center;">
    <p style="font-size: 50px;" ;>
        Look Up Artists
    </p>
    <label for="user">Artists</label>
    <br/>
        <select name="user" class="main-text" style="width: 50%;">
            {{#each results}}
            <option id ='artist' value="{{ name }}">{{ name }}</option>
            {{/each}}
            </select>

            <button onclick="TestsFunction()" style="color:black">Tests</button>

<div id="TestsDiv">
    <h1>Artist</h1>
    {{document.getElementById("artist").value}}
    <h1>Albums</h1>

    <h1>Songs</h1>

    <h1>Reviews/Rating</h1>

</div>


</div>



<script>
    $("span.when").each((_, e) => e.innerHTML = moment(e.innerHTML).fromNow());

    function TestsFunction() {
    var T = document.getElementById("TestsDiv");
    T.style.display = "block";  // <-- Set it to block
}
</script>